<link rel="stylesheet" type="text/css" href="../css/profile.css">

<div class="container-fluid profile">

	<h2> User Profile </h2>

	<div class="col-md-2 avatar">
			<p>{{name}}</p>
			<p>{{admin}}</p>
			<img src="../img/tim.png" alt="Tim Richards" height="200">
		</div>

		<div class="col-md-8 info">
			<p>{{username}}</p>
			<p>{{email}} </p>
			<p>{{City}}</p>
			<p>{{mail}}</p>
			<p>{{plan}}</p>
			<p>Homepage: Link</p>
		</div>

	</div>
</div>

<script src="../js/profile.js"></script>
